/* DOCUMENT INFORMATION
    - Document: 		VRise Main Stylesheet
    - Version:  		0.1
    - Client:   		HSHL
    - Author:   		Marc-A. Drolshagen  
*/

/* COLORS
    - primary color (dark blue):	#161834
    - secondary color (orange):	#ff8400
*/

/* FONTS
    - font1:			Montserrat
   
*/

/* CSS DIRECTORY
    1. =GLOBAL SETTINGS
    2. =NAVIGATION
    3. =SECTION2
    4. =SECTION3
*/

/* ===============
GLOBAL SETTINGS 
=============== */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15pt;
    /* overflow-x: hidden; */
}

button {
    border-radius: 10px;
    padding: 8px 12px;
    text-align: center;
    border: none;
}

main h1 {
    font-size: 22pt;
    color: white;
    margin-bottom: 20px;
}

p {
    font-size: 15pt;
    color: white;
}

h1 {
    color: white;
}

/* ===============
NAVIGATION
=============== */

.navWrapper {
    /*  background-color: white; */
    grid-area: nav;
    z-index: 1;
    /* position: fixed; */
}

nav {
    /* background-color: white; */
    width: 100%;
    /* height: 75px; */
    z-index: 0;
    position: fixed;
}

    nav ul {
        width: 100%;
        height: 75px;
        display: grid;
        grid-template-columns: 7vw repeat(12, 1fr) 7vw;
        grid-template-rows: 75px;
        grid-column-gap: 0.7vw;
        grid-template-areas: "logo logo logo . produkte . zubehör . news . . . sandwich ."
    }

    nav li {
        list-style: none;
        /*  display: flex;
     flex-direction: row;
     align-items: center; */
        font-size: 18px; /* vorher: 17px */
        align-self: center;
    }

    nav a {
        text-decoration: none;
        color: #161834;
    }

        nav a:hover {
            color: #ff8400;
        }

.produkte {
    grid-area: produkte;
}

.zubehör {
    grid-area: zubehör;
}

.news {
    grid-area: news;
}

.logoHomeButton {
    z-index: 1;
    grid-area: logo;
    align-self: start;
    transform-origin: top;
}

.logoImage {
    width: 100%;
}

.sandwich {
    grid-area: sandwich;
    width: 30px;
    height: auto;
    z-index: 1;
    display: none;
}

    .sandwich:hover {
        cursor: pointer;
    }



.background {
    grid-column-start: 2;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: white;
    z-index: -1;
    height: 75px;
}

@media (max-width: 754px) {
    .sandwich {
        display: initial;
    }

    .background {
        grid-column-start: 1;
        grid-column-end: 15;
        /* grid-row-start: 1;
        grid-row-end: 5;
        height: 225px; */
    }

    nav ul {
        grid-template-rows: 75px 50px 50px 50px;
    }

    .logoHomeButton {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .menüpunkt {
        justify-self: center;
        display: none;
    }

    .produkte {
        grid-column-start: 1;
        grid-column-end: 15;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .zubehör {
        grid-column-start: 1;
        grid-column-end: 15;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .news {
        grid-column-start: 1;
        grid-column-end: 15;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}

/* ===============
MAIN
=============== */





/* ===============
FOOTER
=============== */

footer {
    background-color: #25214F;
    grid-area: footer;
    display: grid;
    grid-template-columns: 7vw repeat(12, 1fr) 7vw;
    grid-column-gap: 0.7vw;
    justify-items: start;
    grid-template-areas: 
    ". . . . . . . . . . . . . ." 
    ". . . . . . . . . . . . . ." 
    ". socialMediaHeadline  socialMediaHeadline . . newsLetterHeadline  . . . . footerHeadlineLinks . . ." 
    ". . . . . . . . . . . . . ." 
    ". youtubeLink twitterLink instagramLink . newsLetterMailInput newsLetterMailInput newsLetterMailInput newsLetterMailInput . supportLink aboutUsLink impressumLink ."
}

footer h1 {
    font-size: 20px;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

footer a:hover {
     color: #ff8400;
}




.footerHeadlineLinks {
    grid-area: footerHeadlineLinks;
}

.supportLink {
    color: white;
    grid-area: supportLink;
}

.impressumLink {
    color: white;
    grid-area: impressumLink;
}

.aboutUsLink {
    float: left;
    color: white;
    grid-area: aboutUsLink;
}
/* Die Newslettersektion des Footers*/
.newsLetterHeadline {
    grid-area: newsLetterHeadline;
}

.newsLetterMailInput {
    display: inline-flex;
    grid-area: newsLetterMailInput;
}

#emailInput {
    width: 60%;
    color: #4B4A4A;
    background-color: white;
    font-family: Montserrat;
    border-radius: 10px;
    border: 2px solid #707070;
    text-align: center;
    height: 30px;
}

#submitButton {
    color: #4B4A4A;
    background-color: white;
    font-family: Montserrat;
    border-radius: 10px;
    border: 2px solid #707070;
    text-align: center;
    width: 40%;
    height: 30px;
    margin-left: -5%;
}




    footer input:hover {
        box-shadow: rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
        transition: all ease 0.3s;
    }

    footer input:active {
        color: white;
        background-color: orange;
        box-shadow: orange 0px 5px 15px, inset rgba(0,0,0,0.15)0px -10px 20px;
    }

/* Die Communitysektion des Footers*/

.Logo {
    height: 50%;
    width: auto;
}

.socialMediaHeadline {
    grid-area: socialMediaHeadline;
}

.youtubeLink {
    grid-area: youtubeLink;
}

.twitterLink {
    grid-area: twitterLink;
}

.instagramLink {
    grid-area: instagramLink;
}

.youtubeLink img {
    width: 3vw;
    min-width: 30px;
    height: auto;
}

.twitterLink img {
    width: 3vw;
    min-width: 30px;
    height: auto;
}

.instagramLink img {
    width: 3vw;
    min-width: 30px;
    height: auto;
    position: relative;
    top: -3px;
}

@media (max-width: 754px) {
    footer {
        width: 100vw;
        background-color: #25214F;
        grid-area: footer;
        display: grid;
        grid-template-columns: 7vw repeat(3, 1fr) 7vw;
        grid-column-gap: 0.7vw;
        justify-items: start;
        grid-template-areas: 
        ". . . . ." 
        ". footerHeadlineLinks footerHeadlineLinks footerHeadlineLinks ."
        ". supportLink aboutUsLink impressumLink ."
        ". . . . ." 
        ". socialMediaHeadline  socialMediaHeadline socialMediaHeadline ." 
        ". youtubeLink twitterLink instagramLink ." 
        ". . . . ." 
        ". newsLetterHeadline newsLetterHeadline newsLetterHeadline ."
        ". newsLetterMailInput newsLetterMailInput newsLetterMailInput .";

    }
}

/* 
    The life of a Designer is a life of fight:
    Fight against the ugliness
    - Massimo Vignelli
*/
